@import url("reset.css"); 
@import url("fonte.css");

body {
  color: black;
  background-color: #c1d8a1;
  font-family: 'roboto', Times;
}
header {
  text-align: center;
  background-color:green ;
  margin: 2vw auto;
  padding: 1vw;
  min-width: 30vw;
  max-width: 90vw;
  opacity: 1;
}
header:hover {
  animation: colorChange  1s forwards;
}
@keyframes colorChange  {
  0% {
    background-color: #4CAF50;
}
50% {
    background-color: #FF9800;
}
100% {
    background-color: green;
}
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h5 {
  text-align: left;
}
p {
  text-align: center;
  font-size: auto;
}
.imagem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}
#frutaImagem {
  width: auto;
  height: auto;
}
#painelControle {
  text-align: left;
}
.opcoesBorda {
  border:5px solid green;
  margin: 2vw;
  padding: 2vw;
  background-color: #c1d8a1;
}
.caixaEscrever {
  text-align: center;
}
/* -------------------------------------------- */
@media only screen and  (min-width: 360px) {
  p {
    font-size: 16px;
  }   
  header {
    font-size: 16px;
  }
  #frutaImagem {
    width: 40%;
    height: auto;
  }
}
@media only screen and  (min-width: 720px) {
  p {
    font-size: 22px;
  }   
  header {
    font-size: 24px;
  }
  #frutaImagem {
    width: auto;
    height: auto;
  }
}
@media only screen and  (min-width: 960px) {
  p {
    font-size: 26px;
  }   
  header {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1201px) {
  p {
    font-size: 30px;
  }
  header {
    font-size: 34px;
  }
}