body {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
	}
	#fundo {
	position: absolute;
	width: 100vw;
	height: 80vh;
	border: black;
	border:1px solid black;
	background-color: black;
	color:red;
	background-image: url('img/arena.png');
	background-size: cover;
	background-position: center;
	z-index: 1;
	}
	#painel {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border:2px solid black;
	top: 80vh;
	height: 15vh;
	margin-top: 5px;
	z-index: 2;
	padding: 5px;
	}
	#dpad {
    display: flex;
    flex-direction: column;
    align-items: center;
	}
	button {
		padding: 0vh 5vw;
		margin: 0vh;
		font-size: 1.5vw;
	}
	#nomeJogador {
		position: absolute;
		top: 5vh;
		left: 20vw;
		font-size: 1.5vw;
	}
	#escoreJogador {
		position: absolute;
		top: 5vh;
		left: 5vw;
		font-size: 2.5vw;
	}
	#nomeInimigo {
		position: absolute;
		top: 5vh;
		left: 75vw;
		font-size: 1.5vw;
	}
	#escoreInimigo {
		position: absolute;
		top: 5vh;
		left: 95vw;
		font-size: 2.5vw;
	}
	#jogador {
		position: absolute; 
		top: 35vh; 
		left: 15vw; 
		width: 5vw; 
		height: 10vh;     
	}
	#inimigo {
		position: absolute;
		top: 45vh;
		left: 70vw; 
		width: 5vw; 
		height: 10vh;     
	}
	.bullets {
		position: absolute;
		width: 4vw;
		height: 4vh;
		background-image: url('img/hadouken.png');
		background-size: cover;
		background-position: center;
	}
	.bulletsBad {
		position: absolute;
		width: 4vw;
		height: 4vh;
		background-image: url('img/messatsu.png');
		background-size: cover;
		background-position: center;
		transform: rotateY(180deg); 
	}
	#vidaMaximajogador {
		position: absolute;
		top: 1vh;
		left: 2vw; 
		width: 40vw; 
		height: 3vh; 
		color: red;
		background-color: yellow; 
	}
	#vidaJogador {
		position: absolute;
		top: 1vh;
		left: 2vw; 
		width: 0vw; 
		height: 3vh; 
		background-color: red; 
	}
	#vidaMaximaInimigo {
		position: absolute;
		top: 1vh;
		left: 58vw; 
		width: 40vw; 
		height: 3vh; 
		color: red;
		background-color: red; 
	}
	#vidaInimigo {
		position: absolute;
		top: 1vh;
		left: 58vw; 
		width: 40vw; 
		height: 3vh; 
		background-color: yellow; 
	}
	.spriteNormal {
		width: 5vw; 
		height: 10vh;
	}
	.spriteInvertido {
		width: 5vw; 
		height: 10vh;
		transform: rotateY(180deg); 
	}