body {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
	}
	#painel {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border:5px solid black;
	padding: 2vw;	
	top: 75vw;
	}
	#dpad {
    display: flex;
    flex-direction: column;
    align-items: center;
	}
	button {
		padding: 1vw 2vw;
		margin: 1vw;
	}
	#fundo {
	position: absolute;
	margin: 1vw;
	width: 90vw;
	height: 60vw;
	border: black;
	border:1px solid black;
	background-color: black;
	text-align: center;
	color:red;
	background-image: url('img/arena.png');
	background-size: cover;
    background-position: center;
	}
	#nomeJogador {
		position: absolute;
		top: 5vw;
		left: 20vw;;
	}
	#nomeInimigo {
		position: absolute;
		top: 5vw;
		left: 65vw;;
	}
	#jogador {
		position: absolute; 
		top: 25vw; 
		left: 15vw; 
		width: 5vw; 
		height: 10vw;     
	}
	#inimigo {
		position: absolute;
		top: 35vw;
		left: 70vw; 
		width: 5vw; 
		height: 10vw;     
	}
	.painel {
		position: absolute;
		top: 67vw; 
		left:10vw; 
		text-align: center;

	}  
	.bullets {
		position: absolute;
		width: 4vw;
		height: 2vw;
		background-image: url('img/hadouken.png');
		background-size: cover;
		background-position: center;
	}
	.bulletsBad {
		position: absolute;
		width: 4vw;
		height: 2vw;
		background-image: url('img/messatsu.png');
		background-size: cover;
		background-position: center;
		transform: rotateY(180deg); 
	}
	#vidaMaximajogador {
		position: absolute;
		top: 1vw;
		left: 2vw; 
		width: 40vw; 
		height: 3vw; 
		color: red;
		background-color: yellow; 
	}
	#vidaJogador {
		position: absolute;
		top: 1vw;
		left: 2vw; 
		width: 0vw; 
		height: 3vw; 
		background-color: red; 
	}
	#vidaMaximaInimigo {
		position: absolute;
		top: 1vw;
		left: 48vw; 
		width: 40vw; 
		height: 3vw; 
		color: red;
		background-color: red; 
	}
	#vidaInimigo {
		position: absolute;
		top: 1vw;
		left: 48vw; 
		width: 40vw; 
		height: 3vw; 
		background-color: yellow; 
	}
	.spriteNormal {
		width: 5vw; 
		height: 10vw;
	}
	.spriteInvertido {
		width: 5vw; 
		height: 10vw;
		transform: rotateY(180deg); 
	}